// font 字体
$color-font-1: #fff;
$color-font-2: #249bff;
// font status
$color-font-status-1: #D63434;
$color-font-status-2: #F4EC1D;
$color-font-status-3: #48B4FF;
$color-font-status-4: #48FF4C;
// border
$color-border-none: rgba(255,255,255,0);
$el-tab-pane-border: #2e303c;
// background
$el-tab-pane-background: linear-gradient(0deg,rgba(66,71,89,.8),rgba(21,22,31,.8));
$el-tabs-item-background: rgba(70,74,92,.6);
$el-tabs-item-active-background: linear-gradient(180deg,#656a82,#323544);
